:host {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em 0 1em;
    min-height: calc(100% - 0.5em);
}

img.logo {
    height: 2.5em;
    position: relative;
    top: 2px;
}

img.icon {
    height: 2em;
    position: relative;
    top: 2px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
        color: #777;
        text-decoration: none;
        padding: 1em;

        &.active {
            font-weight: bold;
            color: black;
        }

        &.logo {
            img.icon {
                display: none;
            }
        }
    }
}

:host-context(.mat-dark-theme) {
    nav {
        a {
            color: #aaa;
            &.active {
                color: white;
            }
        }
    }
}

footer {
    margin: 4em 0 0 0;
    padding: 4em;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        color: inherit;
    }
}

:host-context(.mat-dark-theme) {
    footer {
        color: #aaa;
    }
}

router-outlet {
    display: none !important;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

::ng-deep {
    main > * {
        flex-grow: 1;
    }
}

:host.demo {
    nav {
        display: none;
    }

    footer {
        display: none;
    }
}

@media (max-width: 400px) {
    :host {
        padding: 0.5em;
    }
    
    nav {
        a.logo {
            img.logo {
                display: none;
            }

            img.icon {
                display: initial;
            }
        }
    }
}