:host {
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em 0 1em;
    min-height: calc(100% - 0.5em);
}

nav {
    a {
        color: #777;
        text-decoration: none;
        display: block;
        padding: 1em;

        &.active {
            font-weight: bold;
            color: black;
        }
    }
}

:host-context(.mat-dark-theme) {
    nav {
        a {
            color: #aaa;
            &.active {
                color: white;
            }
        }
    }
}

footer {
    margin: 4em -1em 0 -1em;
    padding: 4em;
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:host-context(.mat-dark-theme) {
    footer {
        color: #aaa;
    }
}

router-outlet {
    display: none !important;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

::ng-deep {
    main > * {
        flex-grow: 1;
    }
}

:host.demo {
    nav {
        display: none;
    }

    footer {
        display: none;
    }
}