<engage-logo></engage-logo>

<mat-menu #pointItemMenu="matMenu">
    <button mat-menu-item (click)="reportMessage(menuMessage)">Report</button>
    <button mat-menu-item>Help</button>
</mat-menu>

<div class="firehose chat" (click)="pointOpen = null">
    <header>
        <label>
            Firehose
        </label>
    </header>

    <engage-chat-view 
        [source]="firehoseSource"
        (upvoted)="upvoteMessage($event)"
        (reported)="reportMessage($event)"
        ></engage-chat-view>

    <hr />
    <form class="new-message" (submit)="sendFirehoseMessage()">
        
        <div class="entry-container">
            <input
                type="text"
                name="message" 
                (keydown)="newFirehoseMessageKeyDown($event)"
                [(ngModel)]="newFirehoseMessage.message" />
                
            <button class="emojis" type="button" mat-icon-button (click)="showEmojiPanel = !showEmojiPanel">
                <mat-icon>emoji_emotions</mat-icon>
            </button>
            <emoji-selector-panel 
                (selected)="insertEmojiIntoFirehose($event)"
                [class.visible]="showEmojiPanel"
                ></emoji-selector-panel>
        </div>

        <div class="actions">
            <button [disabled]="!newFirehoseMessage.message" mat-raised-button color="primary">Send</button>
        </div>
    </form>
</div>

<div class="points chat">
    <header>
        <label>The Point</label>
    </header>
    <div class="point-focus">
        <div class="actions">
            <button mat-button (click)="pointOpen = null">
                <mat-icon>arrow_back</mat-icon>
                Back
            </button>

            <div class="spacer"></div>
            
            <ng-container *ngIf="pointOpen">
                <div class="counted-action">
                    <div class="count-indicator">  
                        {{pointOpen.upvotes}}
                    </div>
                    <button mat-icon-button>
                        <mat-icon>thumb_up</mat-icon>
                    </button>
                </div>

            </ng-container>
        </div>

        <engage-comment-view
            *ngIf="pointSubChat"
            [source]="pointSubChat"
            >
            <div class="message">
                <form class="new-message" (submit)="sendPointSubMessage()">
                    <textarea 
                        name="message" 
                        (keydown)="newPointSubMessageKeyDown($event)"
                        [(ngModel)]="newPointSubMessage.message"></textarea>
                
                    <div class="actions">
                        <button [disabled]="!newPointSubMessage.message" 
                            mat-raised-button color="primary">Send</button>
                    </div>
                </form>
            </div>
        </engage-comment-view>
    </div>
    <div class="points-section">
        <form class="new-message" (submit)="sendPointMessage()">
            <textarea 
                name="message" 
                (keydown)="newPointMessageKeyDown($event)"
                [(ngModel)]="newPointMessage.message"></textarea>
        
            <div class="actions">
                <button [disabled]="!newPointMessage.message" mat-raised-button color="primary">Send</button>
            </div>
        </form>
        <hr />
        <engage-comment-view 
            [source]="pointSource"
            (selected)="focusOnPointMessage($event)"
            (reported)="reportMessage($event)"
            (upvoted)="upvoteMessage($event)"
            ></engage-comment-view>
    </div>
</div>