@import './theme.scss';

* {
    font-family: 'Montserrat';
    
    scrollbar-color: #666 black;
    scrollbar-arrow-color: white;
    
    &::-webkit-scrollbar {
        width: 8px;
        background-color: #aaa;
    }

    &::-webkit-scrollbar-button {
        background-color: #ccc;
        color: white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #999;
        color: white;
    }
    
}

.mat-dark-theme {
    * {
        &::-webkit-scrollbar {
            width: 8px;
            background-color: #222;
        }

        &::-webkit-scrollbar-button {
            background-color: #111;
            color: white;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #333;
            color: white;
        }
    }
}
body {
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

.logo {
    font-family: 'Odibee Sans';
    font-size: 40pt;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {
        font-size: 30pt;
    }
}

.spacer {
    flex-grow: 1;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert {
    display: block;
    background: #7e3e3e;
    color: white;
    border-radius: 4px;
    padding: 0.5em;
    margin: 0.5em 0;

}

pre {
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5em;
    background: black;
}

a {
    color: #00b561;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.mat-dark-theme {
    a {
        color: #00ff89;
    }
}